      <footer class="container-fluid">
        <section class="row footerWrapper">
          <section class="col-sm-12 col-md-6 footerLeft">
              <a href="/contact" class="">Email: a@b.org</a>
              <a href="/contact" class="">Phone: 333-333-333</a>
              <a href="/contact" class="">Hours: M-f 9am-9pm</a>
          </section>
          <section class="col-sm-12 col-md-6 footerRight">
              <a href="#" class="">Terms & Conditions</a>
            <div class="social">
              <i class="fa-brands fa-facebook-f" class=""></i>
              <i class="fa-brands fa-twitter" class=""></i>
              <i class="fa-brands fa-instagram" class=""></i>
            </div>
              <a href="#" class="">&copy;Copywrite 2023</a>
          </section>
        </section>
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="/js/script.js" defer></script>
  </body>
</html>