      <footer class="container-fluid">   
        <section class="row">
          <div class="col-12">
            <a href="/contact">Email: a@b.org</a>
          </div>
          <div class="col-12">
            <a href="/contact">Phone: 333-333-333</a>
          </div>
          <div class="col-12">
            <a href="/contact">Hours: M-f 9am-9pm</a>
          </div>
          <div class="col-12">
            <a href="#">Terms & Conditions</a>
          </div>
          <div>
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
          </div>
        </section>
        <section class="row">
          <div class="text-center" class="col-12">
            <a href="#">&copy;Copywrite 2023</a>
          </div>
        </section>
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>
  </body>
</html>