<main class="container-fluid {{pageMainClass}}">
	<section class="row">
		<div class="col-12">
			<section>
				<form>
					<input type="text" placeholder="Search Term">
					<select aria-placeholder="Filters">
						<option>

						</option>
					</select>
					<button type="submit">Submit</button>
				</form>
			</section>
			<section class="catalgoueSetup">
				<div class="row">
					{{#each itemsList}}
					<div class="col-6 col-sm-4 col-lg-3">
						<p>{{item_name}}</p>
						<img src="{{img}}" class="img-fluid imgResponsive">
					</div>
					{{/each}}
				</div>
			</section>
		</div>
	</section>	
</main>