<main class="container-fluid {{pageMainClass}}">
	<section class="row">
		<div class="col-12">
			<section>
				<h3>Categories</h3>
				<div>
					<button id="fresh">FRESH</button>
					<button id="deli">DELI</button>
				</div>
				<div>
					<button id="pantry">PANTRY</button>
					<button id="beverages">BEVERAGES</button>
				</div>
			</section>
			<section>
				<div class="row">
					{{#each itemsList}}
					<div class="responsive">
						<p>{{item_name}}</p>
						<img src="{{img}}">
					</div>
					{{/each}}
				</div>
			</section>
		</div>
	</section>	
</main>