<main class="container-fluid {{pageMainClass}}">
	<section class="row">
		<div class="col-12">
			<section class="row filterSearch">
				<form action="/getCatalogueItems" method="POST">
					<input type="text" name="search" value="" placeholder="Search Term" class="col-12 col-sm-5">
					<select aria-placeholder="Filters" class="col-12 col-sm-5">
						<option>
							Filters
						</option>
					</select>
					<button type="submit" class="col">Submit</button>
				</form>
			</section>
			<section class="catalogueSetup text-center">
				<div class="row">
					{{#each itemsList}}
					<div class="col-6 col-sm-4 col-lg-3 catalogueItem">
						<p>{{item_name}}</p>
						<img src="{{img}}" class="img-fluid groceryImg" data-bs-toggle="modal" data-bs-target="#catalogueItemModal">
					</div>
					{{/each}}
				</div>
			</section>
		</div>
	</section>
	<div class="modal" id="catalogueItemModal" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"></h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<form>
					<div class="modal-body row">
						<img src="/img/1to1ratio.png" id="modalImg" class="col-12">
						<span class="col-12 text-center" id="modalName">Name</span>
						<section class="d-flex justify-content-between">
							<span class="col-6" id="modalSku">#Sku</span>
							<span class="col-6" id="modalPrice">$Price</span>
						</section>
						<section class="d-flex">
							<span class="col-6" id="modalDesc">Description</span>
							<div class="col-6">
								<input type="number" id="modalQty" placeholder="Quantity">
								<button type="button" class="btn btn-primary">Add to Cart</button>
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							</div>
						</section>
					</div>
				</form>
			</div>
		</div>
	</div>	
</main>