<main class="container-fluid {{pageMainClass}}">
	<section class="row">
		<div class="col-12">
			<div class="container-contact100">
				<div class="wrap-contact100">
					<form class="contact100-form validate-form">
						<label class="contact100-form-title">
						Contact Us
						</label>
					<div class="wrap-input100 validate-input" data-validate="Name is required">
						<span class="label-input100">First Name:</span>
						<input class="input100" type="text" name="name" placeholder="First Name">
						<span class="focus-input100"></span><br>
						<span class="label-input100">Last Name:</span>
						<input class="input100" type="text" name="name" placeholder="Last Name">
						<span class="focus-input100"></span>
					</div>
					<section>
						<span class="label-input100">Phone:</span>
						<input class="input100" type="text" name="phone" placeholder="Phone">
						<span class="focus-input100"></span>
					</section>
					<div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
						<span class="label-input100">Email:</span>
						<input class="input100" type="text" name="email" placeholder="Enter your email addess">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 input100-select">
						<span class="label-input100">Subject:</span>
					<div>
						<select class="selection-2 select2-hidden-accessible" name="service" tabindex="-1" aria-hidden="true">
						<option>

						</option>
						</select>
						<span class="select2 select2-container select2-container--default" dir="ltr" style="width: 189px;">
							<span class="selection">
							<span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-service-ed-container">
							<span class="select2-selection__rendered" id="select2-service-ed-container" title="Choose Services"></span>
							<span class="select2-selection__arrow" role="presentation">
							<b role="presentation"></b>
							</span>
							</span>
							</span>
							<span class="dropdown-wrapper" aria-hidden="true">
							</span>
						</span>
					</div>
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input" data-validate="Message is required">
						<span class="label-input100">Message</span>
						<textarea class="input100" name="message">
							
						</textarea>
						<span class="focus-input100"></span>
					</div>
					<div class="container-contact100-form-btn">
						<div class="wrap-contact100-form-btn">
						<div class="contact100-form-bgbtn"></div>
						<button class="contact100-form-btn">
						<span>
						Submit
						<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
						</button>
						</div>
					</div>
					</form>
				</div>
			</div>
			<section>
				<div class="card" aria-hidden="true">
					<div class="card-body">
						<label class="card-title placeholder-glow">Contact Info</label>
						<figure class="card-text placeholder-glow">
							<span class="placeholder">Address:</span>
							<span class="placeholder">1234 Placeholder Dr.</span>
							<span class="placeholder">Phone Number:</span>
							<span class="placeholder">333-333-3333</span>
							<span class="placeholder">Email:</span>
							<span class="placeholder">a@b.org</span>
							<span class="placeholder">Hours:</span>
							<span class="placeholder">M-F 9am-9pm</span>
						</figure>
					</div>
				</div>
			</section>
		</div>
	</section>	
</main>