<main class="container-fluid {{pageMainClass}}">
	<section class="row">
		<div class="col">
			<form>
				<label>Search:</label>
				<input class="form-control" id="listSearch" type="text">
				<button type="submit" id="searchBar">Submit</button>
			</form>
			<span>Results</span>
			{{#each itemsList}}
			<figure>
				<img src="{{img}}">
				<figcaption>Description:{{description}}</figcaption>
				<p>Price:{{price}}</p>
			</figure>
			{{/each}}
		</div>
	</section>	
</main>