<main class="container-fluid {{pageMainClass}}">
    <section class="row">
        <div class="col">
            <h1>Thank You!</h1>
            <p>Your Order is on it's way!</p>
            <a href="/">
                <button class="btn btn-success">Go Home</button>
            </a>
        </div>
    </section>
</main>