body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/*a {
  color: #00B7FF;
}*/

/*
left align logo
center align company name
right align dropdown menu
display this section inline
*/

footer div {
  text-align: center;
}