/*root styles/variables (dont change)*/
*{
  --primary-color: #EF233C;
  --secondary-color: #D5F2E3;
  --accent-teal: #73BA9B;
  --accent-green: #003E1F;
  --accent-red: #D90429;
  /*--main-font: 
  --secondary-font:*/
}
/*tag-level styles should be at the top*/
body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
/*a {
  color: #00B7FF;
}*/

/*
left align logo
center align company name
right align dropdown menu
display this section inline
*/

/*Home Page Styles*/
/*
.carouselHomePage {
  max-height: 40vh;
}
*/
@media (min-width: 768px) {
  .carousel-item img {
    max-height: 300px;
    width: auto;
    max-width: 720px;
    margin: 0 auto;
  }
}
.logo {
  height: 50px;
  width: auto;
}
/*Cart Page Styles*/
.cartList {
  list-style-type: square;
}
.cartItem, .cartItemInfo {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}
.cartItemInfo {
  flex-direction: column;
}
.defaultImg {
  padding-left: 10px;
  padding-right: 15px;
}
.qtySelector {
  margin-right: 60px;
}
.responsive {
  display: flex;
  flex-wrap: wrap;
  flex: 50%;
  height: auto;
  margin-bottom: 15px;
}
.dealsListClass {
  padding-top: 15px;
}
.dealsListClass .row, .catalogueSetup .row {
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
  padding-bottom: 25px;
}
/*.footerTop{
  padding-top: 15px;
  text-align: left;
}
.footerBottom {
  padding-bottom: 15px;
  text-align: right;
}*/
.footerWrapper {
  padding: 15px 15px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.social {
  width: 100%;
  display: flex;
  justify-content: center;
}
.footerLeft, .footerRight {
  display: flex;
  flex-direction: column;
}
.cartHeader {
  padding-top: 15px;
  padding-bottom: 20px;
}
.cartMiddle1 {
  padding: 15px;
}
.cartMiddle2 {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.cartMiddle2 input {
  padding-left: 15px;
  padding-right: 10px;
}

/*Catalogue Page Styles*/

/*Contact Page Styles*/

/*Search Page Styles*/
.listSearch, .searchBar {
  display: flex;
}

/*animations and media queries should be at the bottom*/
@media (min-width: 768px) {
  .footerLeft {
    text-align: left;
  }
  .footerRight {
    text-align: right;
  }
  .social {
    justify-content: flex-end;
  }
}