/*root styles/variables (dont change)*/
*{
  --primary-color: #EF233C;
  --secondary-color: #D5F2E3;
  --accent-teal: #73BA9B;
  --accent-green: #003E1F;
  --accent-red: #D90429;
  /*--main-font: 
  --secondary-font:*/
}
/*tag-level styles should be at the top*/
body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
footer div {
  text-align: center;
}
/*a {
  color: #00B7FF;
}*/

/*
left align logo
center align company name
right align dropdown menu
display this section inline
*/

/*Home Page Styles*/

/*Cart Page Styles*/
.cartList {
  list-style-type: square;
}
.cartItem, .cartItemInfo {
  display: flex;
}
.cartItemInfo {
  flex-direction: column;
}
.responsive {
  display: flex;
  flex-wrap: wrap;
  flex: 50%;
  height: auto;
  margin-bottom: 15px;
}
.dealsListClass .row, .catalgoueSetup .row {
  display: flex;
  flex-wrap: wrap;
}

/*Catalogue Page Styles*/

/*Contact Page Styles*/

/*Search Page Styles*/
.listSearch, .searchBar {
  display: flex;
}

/*animations and media queries should be at the bottom*/

@media (max-width: 576px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
@media (max-width: 992px) {
  .column {
    flex: 33.33%;
    max-width: 33.33%;
  }
}

